.services_top{
  display: flex;
  justify-content: space-between;
  padding-top: 215px;
  padding-bottom: 56px;
}
.services_top h1{
  display: block;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}
.services_top span{
  max-width: 708px;
  display: block;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.8;
}
.cards{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  width: calc(100% / 3 - 24px);
  padding: 40px;
  background: linear-gradient(140.06deg, #272727 -27.72%, #121212 137.01%);
  position: relative;
}
.card_top{
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.card_text{
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}
.card_price{
  font-size: 26px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.8;
}
.card_bottom{
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
 padding-top: 64px;
 height: 168px;
}
.btn{
  display: none;
}
.card:hover{
 background: linear-gradient(140.28deg, #1878F3 -24.89%, #1051F6 144.16%);
}
.card:hover .btn{
  display: block;
}
.updated_btn{
  padding-top: 64px;
 text-align: center;
}

@media screen and (max-width: 1200px) {
 .services_top{
   display: block;
 }
 .services_top span{
   font-size: 24px;
   line-height: 30px;
   max-width: 100%;
 }
 .cards{
   justify-content: center;
   margin: 0 auto;
 }
 .card{
   width: calc(100% / 2 - 24px);
 }
  }
  @media screen and (max-width: 768px) {
  .services_top{
    padding-bottom: 40px;
  }
  .services_top h1{
    font-size: 50px;
  }
  .services_top span{
    font-size: 20px;
    line-height: 24px;
  }
  .card_top{
    font-size: 24px;
  }
  .card_text{
    font-size: 16px;
    line-height: 24px;
  }
  .card{
    padding: 24px;
  }
  }
  @media screen and (max-width: 650px) {
    .card{
      width: 100%;
    }
    .services_top h1{
      font-size: 40px;
    }
    .updated_btn{
      padding-top: 0;
    }
    .card_price{
      font-size: 24px;
    }
  }
  @media screen and (max-width: 425px) {
    .services_top span{
      font-size: 16px;
    }
  }