.about{
  padding-top: 215px;
}
.about h1{
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
  padding-bottom: 64px;
}
.about_img{
  padding-bottom: 64px;
}
.about_img img{
  width: 100%;
  display: block;
}
.competencies{
  display: flex;
  justify-content: space-between;
}
.competencies_left h3{
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.competencies_left{
  max-width: 708px;
}
.competencies_left span{
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  opacity: 0.8;
  display: block;
  max-width: 608px;
}
.competencies_left span:first-of-type{
  padding-bottom: 40px;
} 
.competencies_right ul li{
  font-size: 52px;
  line-height: 56px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.competencies_right ul li:last-of-type {
  padding-bottom: 120px;  
}

.competencies_right ul li:hover{
  color: #1878F3;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
 .competencies{
   display: block;
  text-align: center;
 }
 .competencies_left p{
   max-width: 100%;
 }
 .competencies_right{
   padding-top: 20px;
 }
  }
  @media screen and (max-width: 1024px) {
    .about h1{
      font-size: 50px;
      line-height: 50px;
      padding-bottom: 50px;
    }
    .about{
      padding-top: 120px;
    }
    .about_img{
      padding-bottom: 50px;
    }
  }
  @media screen and (max-width: 768px) {
    .about h1{
      font-size: 40px;
      line-height: 40px;
      padding-bottom: 40px;
    }
    .about_img{
      padding-bottom: 40px;
    }
    .competencies_right ul li{
      font-size: 40px;
      line-height: 30px;
    }
    .competencies_right ul li:last-of-type {
      padding-bottom: 40px;  
    }
  }

  @media screen and (max-width: 500px) {
    .competencies_left h3{
      font-size: 30px;
      line-height: 30px;
    }
    .competencies_left p{
      font-size: 20px;
      line-height: 28px;
    }
    .competencies_left p:first-of-type{
      padding-bottom: 25px;
    }
    .about h1{
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 30px;
    }
    .competencies_right ul li{
      font-size: 25px;
      line-height: 20px;
    }
  }
