.main_top{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: url(/Images/home.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
.content_title{
  font-size: 84px;
  line-height: 96px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.content_title p{
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}
.content_text{
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  opacity: 0.8;
  max-width: 674px;
}
.btn{
  position: relative;
  top: 200px;
  z-index: 11;
}
.main_btn-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient( 180deg, rgb(0 0 0 / 0%) -69.64%, #000000 90.31% );
  cursor: pointer !important;
  z-index: 9;
}
.main_btn-bottom button{
  width: 38px;
  height: 66px;
  border: 0.6px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: transparent;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 5%;
  cursor: pointer;
}

.main_btn-bottom button::after{
  width: 12px;
  height: 12px;
  background: white;
  content: "";
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  /* transition: .5s ease; */
  cursor: pointer;
  animation: down 1.5s infinite;
}
@keyframes down {
  0% {top: 15%;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {top: 70%;
    opacity: 0.1;
  }
}

@keyframes rotate_txt{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-1turn);
  }
}
@media screen and (max-width: 1366px) {
 
  .content_title{
    font-size: 70px;
    line-height: 70px;
  }

}
@media screen and (max-width: 1056px) {
  .content_title{
   font-size: 60px;
  }
  .main_btn-bottom button{
    width: 30px;
    height: 62px;
  } 
  .main_btn-bottom button a{ 
  width: 8px;
  height: 8px;
  }
 }
@media screen and (max-width: 900px) {
  .content_title{
    position: relative;
    top: 20px;
  }
  .content_text{
    font-size: 18px;
    line-height: 30px;
  }
  .main_btn-bottom{
    height: 15%;
  }
}
@media screen and (max-width: 768px) {
.main_inner{
  display: block;
}
.content_text{
  font-size: 16px;
  line-height: 24px;
}
.btn{
  top: 15px;
}
.content_title{
font-size: 50px;
line-height: 50px;
}
}

@media screen and (max-width: 540px) {
  .main_btn-bottom button{
    width: 20px;
    height: 42px;
    bottom: 60%;
  } 
  .main_btn-bottom button a{ 
  width: 4px;
  height: 4px;
  }
 }
 @media screen and (max-width: 450px) {
  .content_title{
    font-size: 40px;
    line-height: 40px;
  }
  .content_text{
    font-size: 14px;
    line-height: 20px;
  }
 }
 @media screen and (max-width: 375px) {
  .content_title{
    margin-top: 30px;
    font-size: 36px;
    line-height: 36px;
  }
 }



