
.tabs span{
  background: rgb(0, 0, 0);
  display: none;
}
.tab:nth-child(1){
  margin-right: 24px;
}
.tab:nth-child(2){
  margin-right: 24px;
}

.box{
display: flex;
justify-content: space-between;

border-bottom: 1px solid white;
padding: 160px 0 32px 0;

}
.tab_name{
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.tab_cards{
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
.card_left , .card_right{
  width: calc(100% / 2 - 24px);
}
.card_left .card{
  height: 688px;
  padding-bottom: 160px;
}
.card_right .card{
  height: 768px;
  padding-bottom: 100px;
}
.card img{
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.img_info{
  padding-top: 24px;
}
.img_info span{
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.img_info p{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.72;
}
.btn{
  padding: 100px 0;
}
@media screen and (max-width: 1024px){
.box{
  padding-top: 80px;
  padding-bottom: 20px;
}
.btn{
  padding: 20px 0;
}
}

@media screen and (max-width: 910px){
  .box{
    display: block;
  }
  .tab_cards{
    padding-top: 40px;
  }
  }
  @media screen and (max-width: 768px){
    .box{
      padding-top: 50px;
      padding-bottom: 10px;
    }
    .tab_cards{
     display: block;
    }
    .card_left,.card_right{
      width: 100%;
    }
    .card_left .card ,.card_right .card{
      height: 100%;
      padding-bottom: 60px;
  }
  .btn{
    padding: 0;
  }
}
@media screen and (max-width: 600px){
.tab_name{
  font-size: 30px;
  line-height: 25px;
}
}
@media screen and (max-width: 475px){
  .card_left .card ,.card_right .card{
    padding-bottom: 30px;
}

}
